.login{
    width: 100vw;
    height:100vh;
    background-color:#f0f2f5;
    display:flex;
    align-items:center;
    justify-content: center;
}
.loginwrapper{
    width: 70%;
    height:70%;
    display:flex;
}
.loginleft,.loginright{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.loginlogo{
    font-weight:800;
    font-size:50px;
    color:#1775e5;
    margin-bottom :10px;
}
.logindesc{
    font-size:24px;
}
.loginbox{
    height:450px;
    padding:20px;
    background-color:white;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.logininput{
    height:50px;
    border-radius: 10px;
    border:1px solid gray;
    font-size:18px;
    padding-left:20px;
}
.logininput:focus{
    outline:none;
}
.loginbutton{
    height:50px;
    border:none;
    background-color:#1175ee;
    color:white;
    border-radius:10px;
    font-size:20px;
    font-weight:500;
    cursor:pointer;
}
.forgotpassword{
    text-align:left;
    color:#1175ee;
}
.loginregisterbutton{
    width:50%;
    align-self:center;
    height:50px;
    border:none;
    background-color:#42b72a;
    color:white;
    border-radius:10px;
    font-size:20px;
    font-weight:500;
    cursor:pointer;
}