.sidebarcontainer{
    flex:2;
    height:calc(100vh - 50px);
    overflow-y: auto;
    position:sticky;
    top:50px;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background-color: rgb(222, 228, 228);
}
::-webkit-scrollbar-thumb{
    background-color:rgb(165, 164, 164);
}
/* .sidebarwrapper{
    padding:20px;
} */
.sidebarlist{
    margin:0;
    padding:0;
    list-style: none;
    cursor:pointer; 
}
.sidebarlistitem{
    display:flex;
    align-items:center;
    margin-bottom:20px;
    margin-left: 30px;
    margin-top:30px;
}
.sidebaricons{
    margin-right:20px;
}
.sidebarshowmorebtn{
    margin-left:30px;
    border:none;
    cursor:pointer;
    width:150px;
    font: weight 500px;
    padding:10px;
    border-radius: 5px;
}
.sidebarhr{
    margin: 20px ; 
}
.sidebarfrndlist{
    padding:0;
    margin:0;
    list-style:none;
}
.sidebarfrnd{
    display:flex;
    align-items: center;
    margin-bottom: 20px;
    cursor:pointer;
}
.sidebarfrndlisticon{
    width:32px;
    height:32px;
    border-radius:50%;
    object-fit:cover;
    margin-right:15px;
    margin-left: 30px;
}