.rightbarcontainer{
    flex:3;
}
.rightbarwrapper{
    padding:20px 20px 0 0;
}
.gift{
    display:flex;
    align-items: center;
}
.birthdaygiftimg{
    width:75px;
    height:75px;
    border-radius: 50%;
    padding-right: 15px;
}
.gifttext{
    font-weight: 300;
    font-size:12px;
}
.rightbaradds{
    width:100;
    height:255px;
    border-radius:10px;
    margin:30px 0;
}
.rightbaronlinefriendlist{
    padding:0;
    margin:0;
}
.Profilerightbar{
    font-size: 18px;
    font-weight: 500;
    margin-bottom:10px;
}
.rightbarfollowingimg{
    width:100px;
    height:100px;
    object-fit:cover;
    border-radius:5px;
}